*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header .header-text{
    width: 100%;
    height: 100px;
    background-color: #ac4b16;
    border-bottom: 2px solid #000;
    line-height: 100px;
    padding-left: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #7a7e0d;
    font-size: 50px;
    
}

.header .header-nav{
    height: 50px;
    border-bottom: 2px solid #000;
    position: relative;
    
}

.header .nav-menu{
    float: left;
    line-height: 50px;
    color: #c05c26;
    padding: 0px 25px;
    font-size: 25px;
    
}
.header .nav-menu:hover{
    background-color:#ccc;
    color: #333;
}
.header .sub-nav{
    width: 160px;
    background-color: #fff;
    list-style: none;
    position: absolute;
    left: 360px;
    color: #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding-left: 10px;
    display: none;
}

.header .nav-menu:hover .sub-nav{
    display: block;
}
.header .sub-nav li{
    padding-left: 10px;
}
.header .nav-menu:hover li:hover{
    background-color:#ccc;
    color: #fff;
}
.content .slider{
    height: 200px;
}
.content .slider img{
    width: 100%;
    height: 200px;
}
.content .section-first{
    width: 70%;
    margin-top: 50px;
    float: left;
}
.content .heading{
    color: #b3912d;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 4px;
    font-style: inherit;
    padding-left: 20px;
    padding-bottom: 20px;
}
.content .sub-heading{
    color: #d5b247;
    font-size: 18px;
    line-height: 1.4;
    font-style: italic;
    font-weight: 600;
    padding: 0 100px;
    padding-bottom: 50px;
}
.content .sign-content{
    padding-left: 100px;.
}
.content .input{
    display: block;
    width: 70%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin-top: 20px;
}
.content .btn-submit{
    margin-top: 50px;
    width: 135px;
    height: 40px;
    background-color: #7a7e0d;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
.content .section-second{
    width: 30%;
    float: right;
    margin-top: 70px;
}
.section-second .link{
    background-color: #faebd6;
    border-radius: 30px 30px 0 0;
}
.section-second .link li{
    margin-left: 70px;
    color: #c05c26;
    padding: 4px 0;
    
}
.section-second .heading{
    padding-left: 20px;
    font-size: 27px;
    letter-spacing: 4px;
    font-weight: 600;
    padding-bottom: 25px;
    color: #ac4b16;
}
.section-second .info-text img{
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 10px;
}
.section-second .info-text{
    float: right;
    display: inline;
    font-size: 16px;
    color: rgba(0,0,0,0.7);
}